*.iml
.gradle
/local.properties
/.idea/
/.idea/runConfigurations.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
_site/*
temp-index.md
_config.yml
index.md
website/.sass-cache/*
website/_site/*
website/doc/*
website/CNAME
website/.bundle/
website/vendor/
docs/_config.yml

